body {
    background-color: lightgray;

}
  
.main {
    text-align: center; 
    justify-content: center; 
    display: flex; 
    height: 100vh; 
}
  
.card{
    margin-top: 150px;
    min-width: 500px;
    height: fit-content;
}

.dialog {
    min-width: 200px;
    height: fit-content;
    text-align: center !important; 
    justify-content: center !important; 
}
