<div class="main">
  <mat-card class="card">
    <mat-card-content>
      <h1>
        To-do's Lists
      </h1>
      <br>
      <div *ngIf="isUserAuthenticated()" style="color: #320A28;">
        <h2>
          Welcome {{userName}}!
        </h2>
      </div>
      <div *ngIf="!isUserAuthenticated()" style="color: #320A28;">
        <h2>
          Welcome!
        </h2>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button style="background-color: #CB9173; color: black;" mat-raised-button *ngIf="isUserAuthenticated()"  [routerLink]="['/folders']" routerLinkActive="router-link-active" class="mr-3">Folders</button>
          <button style="background-color: #511730; color: white;" mat-raised-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']" [queryParams]="{isRegistered: true}" class="mr-3" routerLinkActive="router-link-active">Sign in</button>
          <button style="background-color: #511730; color: white;" mat-raised-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']" [queryParams]="{isRegistered: false}" routerLinkActive="router-link-active">Sign up</button>
          <button style="background-color: #E0D68A; color: black;" mat-raised-button *ngIf="isUserAuthenticated()"  (click)="logOut()" >Logout</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>